body{ 
    background-color:#1a1a1a; 
    color: #ffffff; 
    font-family: "Lexend"; 
    font-size: 18px; 
    font-weight: light; 
    line-height: 150%;
} 
.hero{  
    padding: 80px;
} 

.hero_card{ 
    padding: 20px;
} 
.hero_card_icon{ 
    margin: auto; 
    display: block; 

} 

.hero_card_headline{ 
    font-size: 24px; 
    margin-bottom: 16px; 
    margin-top: 24px; 
    text-align: center; 
    text-transform: capitalize;
} 
.hero_card_paragraph{ 
    text-align: center; 
    color: #B3B3B3; 
    max-width: 380px;
    margin: auto;
}